<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/static/css/style.css">
    <title>Document</title>
</head>
<body>
    <form>
        <fieldset class="nav">
        <h1>TABLA DE DATOS PARA MODIFICAR</h1>
        <label>ID</label>
        <br>
        <input type="number" placeholder="Ingresar su ID">
        <br>
        <label>NOMBRE</label>
        <br>
        <input type="text" placeholder="ingresar su nombre">
        <br>
        <label>APELLIDO</label>
        <br>
        <input type="text" placeholder="ingresar su apellido">
        <br>
        <label>EMAIL</label>
        <br>
        <input type="email" placeholder="ingresar su email">
        <br>
        <label>DIRECCION</label>
        <br>
        <input type="text" placeholder="ingrese su Direccion">
        </fieldset>
    </form>
</body>
</html>